<!doctype html>
<html ng-app='myApp'>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/mystyles.css" />
</head>
<body>
    <div ng-controller="QuestionCtrl">
        <div class="quest" ng-class="questColorClass"
             ng-mouseenter="changeClass($event)"
             ng-mouseleave="changeClass($event)">
            <h3>{{question.text}}</h3>
            <p>{{question.author}} </p> <p><i>{{question.date}}</i></p>
        </div>
        <p>
            Введите ответчика: <input type="text" ng-model="member" />
        </p>
        <h3>Ответы</h3>
        <div class="answers">
            <div ng-repeat="answer in question.answers|filter:{author:member}" class="answer">
                <div class="vote">
                    <a class="vote-up" ng-click="voteUp(answer)"></a>
                    <span class="rate">{{answer.rate}}</span>
                    <a class="vote-down" ng-click="voteDown(answer)"></a>
                </div>
                <b>{{answer.text|formatText}}</b>
                <p>{{answer.author}}</p>
                <p><i>{{answer.date}}</i></p>
            </div>
        </div>
    </div>
    <div ng-controller="AnswerCtrl">
        <form name="answerForm">
            <fieldset>
                <p>
                    <label for="answerText">Текст ответа</label>
                    <input id="answerText" ng-model="answer.text" required placeholder="Введите ответ" />
                </p>
                <p>
                    <label for="answerAuthor">Автор ответа</label>
                    <input id="answerAuthor" ng-model="answer.author" required placeholder="Введите автора" />
                </p>
                <p>
                    <label for="answerDate">Дата ответа</label>
                    <input id="answerDate" ng-model="answer.date" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" placeholder="Введите дату" />
                </p>
            </fieldset>
            <button type="submit" ng-click="save(answer, answerForm)">Сохранить</button>
        </form>
    </div>
    <script src="angular-1.5.8/angular.js"></script>
    <script src="controller/QuestionController.js"></script>
</body>
</html>